:root {
    --green :#36da3d;
    --lighterGreen:#7bff8b ;
    --gold : gold;
    --lightGrey : #f9f5f3;
    --gradient:linear-gradient(to right bottom, var(--lighterGreen), var(--green)) ;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #615551;
    background-image: linear-gradient(to right bottom, #7bff8b91, #36da3d96),
     url("https://wallpaperaccess.com/full/2862101.jpg");
    background-attachment: fixed;
    min-height: calc(100vh - 8vw);
}

.header , #more-options{
    /* grid-area: head; */
    background-color: var(--lightGrey);
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.header div{
    background-color: var(--lightGrey);
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
}
.header__logo {
    height: 9.6rem;
    display: block;
    z-index: 2;
}
.search__btn {
    font-weight: 600;
    font-family: inherit;
}
.container {
    max-width: 80vw;
    min-height: 100rem;
    margin: 4vw auto;
    background-color: #fff;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgb(97 85 81 / 20%);
}

.search {
    display: grid;
    padding-left: 3rem;
    transition: all 0.3s;
    width: fit-content;
    place-content: space-between;
    margin-top: 20px;
    margin-right: 2vw;
    margin-left: 3vw;
    grid-template-columns: 1fr 130px;
    grid-template-rows: 40% auto;
    grid-row-gap: 3px;
}
.search__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 100%;
    background-color: #fff;
    text-align: center;
    /* border-radius: 10rem; */
}
.nav {
    /* align-self: stretch; */
    width: 24vw;
}
.nav__btn svg {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 0.7rem;
    transform: translateY(-1px);
}
.advanced__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 0.7rem;
    transform: translateY(-1px);
}
svg {
    fill: var(--green);
}
.btn {
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
}
.btn--small, .btn--small:link, .btn--small:visited, .btn {
    background-image: var(--gradient);
    /* border-radius: 10rem; */
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.advanced__btn {
    background: none;
    color: var(--green);
}

.nav__list {
    list-style: none;
    display: flex;
    align-self: center;
    width: 22vw;
}

.nav__item {
    position: relative;
}

.nav__btn{
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0.5rem;
    transition: all 0.3s;
    display: flex;
    align-items: center;
}

#radio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    font-weight: 700;
    appearance: none;
    justify-content: space-around;
    padding-left: 3vw;
}

#radio div {
    display: flex;
    align-items: center;
}
.target {

    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
  
}

#accueil_start {
    display: flex;
}
#accueil_start ul {
    width: 34vh;
    list-style-type: none;
    font-size: 2rem;
    margin-left: 2px;
    height: 55rem;
    line-height: 3vw;
    font-size: 2.25rem;

}

#reading-image {
    width: 61vw;
}

.counter {
    font-size: 36px;
    background-image: var(--gradient);
    color: #fff;
    align-items: center;
    transition: all 0.2s;
    padding: 0.5rem;
    width: 12vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#counters {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.acceuil_illustration{
    width: 15vw;
}

#featured_books{
    display: grid;
    grid-template-columns: repeat(auto-fill,25.32vw);
    padding: 2vw;
    background: var(--lightGrey);
    border-top: 4px var(--gold) solid;
    border-bottom: 4px var(--gold) solid;
}
#featured_books div {
    background-color: white;
    border-radius: 10px;
    width: 21vw;
    font-size: 2rem;
    padding: 1vw;
    margin-bottom: 1.75vw;
    text-align-last: center;
}

#featured_books div h2 {
    color: var(--green);
    text-align: center;
    margin: 0;
    padding-bottom: 2vw;
}
#featured_books div h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5vw;
}

a {
    color: var(--green);
}
a:active {
    color: var(--gold);
}
@media only screen and (max-width: 1200px) {
    .nav__list {
        flex-direction: column;
    }

    #radio {
        font-size: 1.2rem;
    }
    .search{
        grid-row-gap: 10px;
    }
}

@media only screen and (max-width: 850px) {

    .container {
        max-width: 91vw!important;
    }
    .nav {
        display: none;
    }
}