  
.pagination a, #next a, #previous a{
    text-decoration: none;
    padding: 0px 10px;
    background: white;
    border-radius: 10px;
    border: 2px black solid;
    color: black;
    width: 4vw;
    display: block;
    text-align-last: center;
  }

.paginationBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: 3.5rem;
    padding: 0px;
    background: var(--lighterGreen);
    height: 80px;
    margin-left: 5vw;
    margin-right: 5vw;
    border: 2px black solid;
    border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
    .paginationBar {
        font-size: 3rem;
    }

}
@media only screen and (max-width: 800px) {
    .paginationBar {
        font-size: 2rem;
    }

}
